{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}
<div>
    <h3>business-news</h3>
    {{ macro.displayNewsList(business)}}
</div>
<div>
    <h3>health-news</h3>
    {{ macro.displayNewsList(health)}}
</div>
<div>
    <h3>technology-news</h3>
    {{ macro.displayNewsList(technology)}}
</div>
<div>
    <h3>science-news</h3>
    {{ macro.displayNewsList(science)}}
</div>
<div>
    <h3>entertainment-news</h3>
    {{ macro.displayNewsList(entertainment)}}
</div>
{% endblock %}



